<h1>Authors</h1>

<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Webpage</th>
            <th>Born</th>
            <th>Died</th>
        </tr>
    </thead>
    <tbody>
        <% authors.each do |author| %>
            <tr>
                <td><%= author.first_name %></td>
                <td><%= author.last_name %></td>
                <td><%= author.webpage %></td>
                <td><%= author.dob %></td>
                <td><%= author.dod %></td>

            </tr>
        <% end %>
    </tbody>
</table>
