<h1>Books</h1>

<ul>
    <% books.each do |book| %>
        <div id="<%= dom_id(book) %> ">
            <li><%= book.title %></li>
            <div>
                <ul>
                    <li><%= book.publisher %></li>
                    <li><%= book.publication_date %></li>
                    <li><%= book.isbn %></li>
                    <li><%= book.genre %></li>
                </ul>
                </div>
            </div>
        </div>
    <% end %>           
</ul>